@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo span {
    color: #7d2ae8;
}

.navigation {
    margin-left: -300px;
}

.navigation a {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navigation a:hover {
    color: #7d2ae8;
}

.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.btn-talk:hover {
    color: #7d2ae8;
    background: transparent;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.content {
    max-width: 500px;
    color: #555;
}

.content h2 {
    font-size: 3em;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
}

.content h2 span {
    color: #7d2ae8;
}

.content h4 {
    font-size: 2em;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.content p {
    padding: 10px 0 40px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    
}

.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn-group a:hover:nth-child(1) {
    color: #7d2ae8;
    background: transparent;
}

.btn-group a:nth-child(2) {
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #7d2ae8;
}

.social-icons {
    position: absolute;
    bottom: 30px;
}

.social-icons a {
    display: inline-block;
    width: 33px;
    height: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: .3s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i))
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons a i {
    color: #fff;
}
.images{
   width:12%;
    height: 95%;
    position: absolute;
    bottom: 50px;
    right: 60px;

}
.images img{
    height: 85%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    margin-left:-100px;
    padding: 60px;
    margin-top:-100px ;
    
}
.boy{
    padding:20px;
    margin-left: -50px;
    height: 200px;
   
}
.shape {
    background-color: #ffffff;
    margin-bottom: -19px;
    margin-right:-10px ;
   

}

@keyframes slideRight {
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }
    100% {
        transform: translatex(0px);
        opacity:1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translatex(100px);
        opacity: 0;
    }
    100% {
        transform: translatex(0px);
        opacity:1;
    }
}   
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}   